<!--
    Title: Navbar.ejs
    Author: Conner Shockley
    Date: 4/18/2021
    Description: Navbar for ems application.
-->

<nav class="navbar navbar-expand-sm bg-secondary">
    <a class="navbar-brand text-white" href="#">EMS</a>
    <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
            <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link text-white" href="/">About</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link text-white" href="/">Contact Us</a>
        </li>
    </ul>
</nav>