<!--
    Title: footer.ejs
    Author: Conner Shockley
    Date: 4/18/2021
    Description: Footer for ems application.
-->


<footer class="text-white" style=" 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
">
    <p>© Company 2021</p>
</footer>

