<!DOCTYPE html>
<html lang="en">
    <%- include('header'); -%>

    <body class="bg-dark">
    <%- include('navbar'); -%>

    <div class="container">
    <div class="mx-auto text-white"></div>
        <main role="main" class="mx-auto">
            <h1 class="text-white mx-auto" style="margin-top: 3rem; text-align: center;">Homepage</h1>
            <p class=" text-white"  style="text-align: center;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Vivamus cursus nisi in eros volutpat, et porttitor leo placerat. 
                Class aptent taciti sociosqu ad litora torquent per conubia 
                nostra, per inceptos himenaeos. Duis sed pulvinar sapien. 
                Quisque viverra nulla et tellus mollis tincidunt. Proin nec 
                condimentum urna. Sed eget erat libero. Nulla molestie lobortis placerat. 
                Maecenas at convallis metus, ac scelerisque ipsum. Pellentesque 
                vel sodales orci. Duis at massa rhoncus, accumsan purus et, faucibus elit. 
                Nunc dapibus purus nec viverra finibus.
            </p>
        </main>
    </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm" style="padding: 0;">
                <div class="card" style="width: 20rem; margin-top: 3rem;">
                    <div class="card-body bg-secondary text-white">
                        <h5 class="card-title" style="text-align: center;">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-light">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm" style="padding: 0;">
                <div class="card" style="width: 20rem; margin-top: 3rem;">
                    <div class="card-body bg-secondary text-white">
                        <h5 class="card-title" style="text-align: center;">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-light">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm" style="padding: 0;">
                <div class="card" style="width: 20rem; margin-top: 3rem;">
                    <div class="card-body bg-secondary text-white">
                        <h5 class="card-title" style="text-align: center;">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-light">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>






    <%- include('footer'); -%>
    </body>
</html>